---
const personalImageAlt = "Juan Pablo Gómez";
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I have worked for more than 3 years as a <strong> web developer</strong> using
      cutting-edge technologies such as Node, Express, ReactJS, NextJS, Astro among
      others. I have also used CMS such as <strong>Wordpress</strong> and CMRs such
      as SuiteCRM. My expertise revolves around crafting intuitive and appealing
      Web apps, leveraging tools such as <strong>Node, React</strong> and <strong>CSS.</strong>
    </p>
    <p>
      Beyond my professional work, I'm passionate about music and I am the
      founder of <strong>Corporación Licania</strong>, a nonprofit organization
      dedicated to promoting the arts in the eastern region of Antioquia .
    </p>
  </div>

  <img
    src="/images/Pablo-CV.jpg"
    class="rounded-full size-64 order-1 md:order-2 object-cover"
    alt={personalImageAlt}
  />
</article>
