<span 
    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-3 py-1 rounded dark:bg-blue-900 dark:text-blue-300 flex flex-row justify-center">
    <slot />
</span>

<style>
    span {
        transition: all 300ms ease;
        &:hover {
            background-color: transparent;
            color: white;
            border: 1px dashed white;
        }

    }
</style>