---
import ExperiencieItem from "./ExperiencieItem.astro";
const EXPERIENCE = [
  {
    date: "Sep 2022 - Dec 2023",
    title: "Software Developer",
    description: "INSTITUTE OF CULTURE AND HERITAGE OF ANTIOQUIA - GOVERNORSHIP OF ANTIOQUIA",
    tasks: ["Development of web applications with the MERN Stack", "CRM module developer", "Web Master", "Platform support"],
  },
  {
    date: "Mar 2020 - Sep 2022",
    title: "Web Developer",
    description: "Koby Company",
    tasks: ["Development of new custom functionalities within the visual components of the WordPress CMS using CSS, JS, PHP", 
      "Creation of virtual stores with WordPress, WooCommerce",
      "Development of a web application using the MERN stack (MySQL, Express, React, NodeJS)."],
    link: "https://kobycompany.com/",
  },
  {
    date: "Jan 2015 - Mar 2017",
    title: "Graphic Designer",
    description: "Viappiani de Colombia S.A.S",
    tasks: ["Label design using Adobe Illustrator and Photoshop, along with Prepress integration for industrial printing"],
  }
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((labor) => (
      <li class="mb-10 ms-4">
        <ExperiencieItem {...labor} />
      </li>
    ))
  }
</ol>
