<header class="flex justify-center items-center py-10 md:w-[60%] w-90% mx-auto md:justify-between">
  <a href="/">
    <img
      class="rounded-full w-20 h-20 object-cover hidden md:block"
      src="https://avatars.githubusercontent.com/u/35271485?v=4"
      alt="Foto de Pablo"
    />
  </a>
  <nav class="flex flex-row gap-x-6 md:gap-x-10 opacity-80 nav-bar">
    <a href="/#experiencia">Experiencie</a>
    <a href="/#proyectos">Projects</a>
    <a href="/#about">About me</a>
    <a href="/#tech">Stack</a>
  </nav>
</header>

<style>
  img {
    &:hover {
      cursor: pointer;
    }
  }
  .nav-bar {
    a {
      &:after {
        content: "";
        width: 0%;
        height: 1px;
        background-color: white;
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        transition: width 300ms ease-in;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

</style>
